section
  .flex.flex--center
    .col-1
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit mollitia et culpa accusantium optio. Obcaecati perferendis soluta ipsum quis ab, accusamus odit quae id, reiciendis pariatur doloribus assumenda nostrum architecto!

    .col-1   
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis eius repellat quasi fugiat magni tenetur aliquam veritatis? Non maxime inventore aspernatur, nisi fuga sapiente aut quam consequatur similique earum.


section  
  .flex.flex--space-around
    .col-1
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit mollitia et culpa accusantium optio. Obcaecati perferendis soluta ipsum quis ab, accusamus odit quae id, reiciendis pariatur doloribus assumenda nostrum architecto!

    .col-1.order-first
      p CTA Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis eius repellat quasi fugiat magni tenetur aliquam veritatis? Non maxime inventore aspernatur, nisi fuga sapiente aut quam consequatur similique earum.


section
  .flex.flex--center
    .col-2
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit mollitia et culpa accusantium optio. Obcaecati perferendis soluta ipsum quis ab, accusamus odit quae id, reiciendis pariatur doloribus assumenda nostrum architecto!


section
  .flex.flex--center
    .col-50.flex.flex-center
      .col-1
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit mollitia et culpa accusantium optio. Obcaecati perferendis soluta ipsum quis ab, accusamus odit quae id, reiciendis pariatur doloribus assumenda nostrum architecto!

    .col-50
      p CTA Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis eius repellat quasi fugiat magni tenetur aliquam veritatis? Non maxime inventore aspernatur, nisi fuga sapiente aut quam consequatur similique earum.    