mixin nav-content()
	ul
		li: a(href="#about") About
		li: a(href="#youtube") YouTube
		li: a(href="#mentoring") Hosting
		li: a(href="#articles") Articles 
		li: a(href="#instagram") Instagram
		li: a(href="#portfolio") Portfolio
		li: a(href="#footer") Contact

.mobile-nav
	+nav-content()

header
	.header-position
		h1.logo Dreyah

		nav.site-nav
			+nav-content()
			
				
		a(href="mailto:dreyah@dreyahfit.com").email-link +email me


		.mobile-nav-toggle: span