header
	h1.logo Dreyah

	nav
		ul
			li: a(href="#about") About
			li: a(href="#youtube") YouTube
			li: a(href="#hosting") Hosting
			li: a(href="#instagram") Instagram
			li: a(href="#facebook") Facebook
			li: a(href="#coding") Coding
			li: a(href="#notes") Notes
			li: a(href="#contact") Contact
			 
	a(href="mailto:dreyah@dreyahfit.com").email-link +email me

