section.youtube
  .flex.flex--center
    .col-1
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit mollitia et culpa accusantium optio. Obcaecati perferendis soluta ipsum quis ab, accusamus odit quae id, reiciendis pariatur doloribus assumenda nostrum architecto!

    .col-1.order-first
      p.home-lead.outdented ...teaching everyone how to stay fit and healthy on youtube...
      a(href="http://youtube.com/dreyahfit").home-cta Watch on YouTube
