mixin face(face, words, name)
  li.face(style='background-image: url(' + face + ');')
    .bubble  
      p #{words}
      cite - #{name}

section.mentoring#mentoring
  .flex.flex--center
    .col-1
      ul.faces 
        +face("http://fillmurray.com/80/80","Awesome event! Thanks Dre","K.C Marie")
        +face("http://fillmurray.com/80/80","Great event, Thank you!","K.C Marie")
        +face("http://fillmurray.com/80/80","Danced my calories away","K.C Marie")
        +face("http://fillmurray.com/80/80","Wow, didn't realize dancing could be this fun", "K.C Marie")
        +face("http://fillmurray.com/80/80","Wow, didn't realize dancing could be this fun", "K.C Marie")
        +face("http://fillmurray.com/80/80","Wow, didn't realize dancing could be this fun", "K.C Marie")
        li.back-btn.face       
       
      
              

    .col-1.flex--center-cta
      p.home-lead.outdented ...Speaking and hosting events...
      a(href="").home-cta Work with me

  