mixin thumb
  a(href="" style="background-image: url(http://fillmurray.com/230/500)").article-thumb 
    .article-meta
      .name Article Name
      .date Dec 10, 1982 

section.articles
  .flex.flex--center
   
    .col-50
      .article-wrap
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb

       

    .col-50.flex.flex--center.order-first
      .col-1
        .desc-wrap
          p.home-lead.outdented ...Writing and designing articles...
          a(href="").home-cta See All Articles 