section.youtube
  .flex.flex--space-around

    .col-1
      .video-strip
      .flex-video <iframe src="https://www.youtube.com/embed/9CxBH6ky7aM" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

    .col-1.order-first
      p.home-lead.outdented ...teaching everyone how to stay fit and healthy on youtube...
      a(href="http://youtube.com/dreyahfit").home-cta Watch on YouTube
    